<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>

        <h1>Employee Management System</h1>

        <nav>

            <a href="#">Home</a>
            <a href="#">Employees</a>
            <a href="#">Departments</a>
            <a href="#">Login</a>

        </nav>

    </header>

<div class="container">

<div class="card">

<h2>Add Employee</h2>

<form id="employeeForm">

<input
type="text"
placeholder="Employee Name"
required
>

<input
type="text"
placeholder="Department"
required
>

<input
type="number"
placeholder="Salary"
required
>

<button type="submit">

Add Employee

</button>

</form>

</div>

<div class="card">

<h2>Employee List</h2>

<table>

<thead>

<tr>

<th>ID</th>

<th>Name</th>

<th>Department</th>

<th>Salary</th>

</tr>

</thead>

<tbody>

<tr>

<td>1</td>

<td>Hari</td>

<td>DevOps</td>

<td>70000</td>

</tr>

<tr>

<td>2</td>

<td>John</td>

<td>Development</td>

<td>65000</td>

</tr>

</tbody>

</table>

</div>

</div>

<footer>

<p>© 2026 Employee Management Microservices</p>

</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
